# Ignore .venv directory
.venv/
.venv

# Ignore .vscode directory
.vscode/

# Ignore .idea directory
.idea/

# Ignore .pytest_cache directory
.pytest_cache/

# Ignore .mypy_cache directory
.mypy_cache/

# Ignore pycache directory
__pycache__

myenv

venv
